.custom-card {
    background-color: #F0F0F0 !important;
}

.custom-border {
    border-color: #F0F0F0 !important;
}

.text-color {
    color: #323232;
}

.limitTextHeight {
    overflow: hidden;
}

:host ::ng-deep .p-component-overlay-enter {
    animation: enter 150ms forwards;
    background-color: rgb(240, 240, 240, 0.4);
    backdrop-filter: blur(3px)
}

:host ::ng-deep .p-panel-content {
    border: none;
}