<div class="d-flex justify-content-center">
    <img src="../../../assets/image/community1.jpg" class="img-fluid">
</div>

<div class="container-fluid">
    <div class="row px-5">
        <div class="my-3 col-9 pr-5">
            <div class="my-3">
                <i class="fa-solid fa-comment me-4"></i>
                <span class="fs-5 fw-bold" style="color: #323232;">Thread & Discuss</span>
            </div>

            <app-button classBtn="w-100 mb-4" iconType="pi-pencil" labelBtn="WRITE A THREAD"
                routerLinkBtn="/member/thread/save/thread">
            </app-button>

            <div infinite-scroll (scrolled)="onScroll()">
                <div class="card text-color border-secondary mb-4" *ngFor="let thread of threads">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-6 d-flex align-items-center">
                                <img src="../../../assets/image/profile.png" class="me-2"
                                    style="height: 35px; width: 35px;">
                                <app-label class="align-self-center" nameLabel="Profile Name"></app-label>
                            </div>

                            <div class="col-6 text-end">
                                <app-label *ngFor="let category of thread.categoryName"
                                    classLabel="p-2 me-2 bg-light rounded-pill" nameLabel="{{category}}"></app-label>
                            </div>
                        </div>

                        <p-blockUI *ngIf="thread.isPremium" [target]="pnl" [blocked]="thread.isPremium">
                            <a routerLink="/member/subscription"><i class="pi pi-lock" style="font-size: 3rem; color: #323232;"></i></a>
                        </p-blockUI>

                        <p-panel class="mt-4" #pnl [showHeader]="false">
                            <h3>{{thread.threadTitle}}</h3>

                            <div [ngClass]="{'limitTextHeight' : thread.isReadMore}">
                                <p class="mt-3">{{thread.threadContent}}</p>
                                <app-a labelA="Read More" routerLinkA="/member/thread/detail/{{thread.id}}"></app-a>
                            </div>

                            <p-carousel *ngIf="thread.attachmentId && thread.attachmentId.length>0"
                                [value]="thread.attachmentId" [numVisible]="1" [numScroll]="1" [circular]="false"
                                [responsiveOptions]="responsiveOptions">
                                <ng-template let-attachment pTemplate="item">
                                    <div class="product-item">
                                        <div class="product-item-content">
                                            <div class="mb-3 text-center">
                                                <img src="http://localhost:8080/attachments/{{attachment}}"
                                                    height="400px" width="400px">
                                            </div>
                                        </div>
                                    </div>
                                </ng-template>
                            </p-carousel>

                            <div *ngIf="thread.typeCode == 'TY01'" class="card text-color border-secondary">
                                <div class="card-body d-flex flex-column gap-2">
                                    <app-label nameLabel="{{thread.pollingName}}"></app-label>
                                    <div *ngFor="let choice of thread.choices">
                                        <app-button *ngIf="thread.isVoted == false" [loadingBtn]="this.isLoading"
                                            (clickBtnEvent)="onPolling(choice.choiceId, thread.isVoted)"
                                            classBtn="w-100 p-button-outlined" labelBtn="{{choice.choiceName}}">
                                        </app-button>
                                    </div>

                                    <div *ngIf="thread.isVoted == true">
                                        <div *ngFor="let countVote of thread.countVote" class="" style="height: 50px;">
                                            <p-progressBar [value]="(countVote / thread.totalVote) * 100"
                                                [showValue]="true"></p-progressBar>
                                        </div>
                                    </div>

                                    <app-label classLabel="opacity-75" nameLabel="Total Vote: {{thread.totalVote}}">
                                    </app-label>
                                </div>
                            </div>
                        </p-panel>

                        <div class="mt-3">
                            <a pButton [loading]="this.isLoading" (click)="onLike(thread.id, thread.isLiked)" class="me-2">
                                <i *ngIf="thread.isLiked == false" class="fa-regular fa-heart"></i>
                                <i *ngIf="thread.isLiked == true" class="fa-solid fa-heart"></i>
                                {{thread.totalLike}}
                            </a>

                            <a pButton [loading]="this.isLoading" class="me-2" (click)="onComment(thread.id)">
                                <i class="fa-regular fa-comment"></i>
                                {{thread.totalComment}}
                            </a>

                            <a pButton [loading]="this.isLoading" (click)="onBookmark(thread.id, thread.isBookmarked)" class="me-2">
                                <i *ngIf="thread.isBookmarked == false" class="fa-regular fa-bookmark"></i>
                                <i *ngIf="thread.isBookmarked == true" class="fa-solid fa-bookmark"></i>
                            </a>
                        </div>

                    </div>
                </div>
            </div>
        </div>

        <div class="my-3 col-3">
            <div class="my-3">
                <i class="fa-solid fa-calendar me-4"></i>
                <span class="fs-5 fw-bold" style="color: #323232;">Training & Event</span>
            </div>

            <div class="card text-color custom-card mb-3" *ngFor="let event of events">
                <div class="card-body row">
                    <img src="http://localhost:8080/attachments/{{event.attachmentId}}"
                        style="width: 250px; height: 150px;">

                    <div class="mt-3 col-6">
                        <app-label classLabel="" nameLabel="{{event.eventProvider}}"></app-label>
                    </div>
                    <div class="mt-3 col-6 text-end">
                        <app-label classLabel="" nameLabel="{{event.typeName}}"></app-label>
                    </div>

                    <a class="text-color" routerLink="">
                        <h5 class="card-title fw-bold">{{event.eventTitle}}</h5>
                    </a>

                    <div class="d-flex flex-column">
                        <div>
                            <i class="fa-regular fa-calendar me-3"></i>
                            <app-label classLabel="me-4" nameLabel="{{event.eventDateStart}} - {{event.eventDateEnd}}">
                            </app-label>
                        </div>

                        <div>
                            <i class="fa-regular fa-clock me-3"></i>
                            <app-label classLabel="" nameLabel="{{event.eventTimeStart}} - {{event.eventTimeEnd}}">
                            </app-label>
                        </div>

                        <div>
                            <i class="fa-solid fa-coins me-3"></i>
                            <app-label classLabel="" nameLabel="{{event.eventPrice}}"></app-label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>