<div class="container my-5">
    <div class="row">
        <div class="col-sm-3">
            <div class="card ">
                <div class="card-body" style="padding: 10px 0px;">
                    <ul class="nav flex-column gap-1">
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="#" id="pills-profile-tab"
                                data-bs-toggle="pill" data-bs-target="#pills-profile" type="button" role="tab"
                                aria-controls="pills-profile" aria-selected="true" style="color: #858796;">
                                <span><i class="fa-solid fa-pen-to-square me-4"></i>Edit Profile</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#" id="pills-security-tab" data-bs-toggle="pill"
                                data-bs-target="#pills-security" type="button" role="tab" aria-controls="pills-security"
                                aria-selected="true" style="color: #858796;">
                                <span><i class="fa-solid fa-lock me-4"></i>Change Password</span>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="col-sm-9">
            <div class="tab-content" id="pills-tabContent">
                <div class="tab-pane fade show active" id="pills-profile" role="tabpanel"
                    aria-labelledby="pills-profile-tab">
                    <div class="container">
                        <div class="row" style="height: 90%;">
                            <div class="col-12">
                                <div class="card">
                                    <div class="card-body">
                                        <div class="row">
                                            <div class="col-6 d-flex align-items-center">
                                                <app-label classLabel="fw-bold" nameLabel="Edit Profile"></app-label>
                                            </div>
                                            <div class="col-6 text-end">
                                                <app-button *ngIf="roleCode == 'R01' || roleCode == 'R02'" classBtn="p-button-warning text-center"
                                                    labelBtn="Get Premium" idBtn="premium"
                                                    routerLink="/member/subscription/">
                                                </app-button>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="card-body">
                                        <div class="mt-3 d-flex flex-column align-items-center">
                                            <img *ngIf="!profile.profileImageId"
                                                src="assets/image/undraw_profile_pic.svg" class="mb-3"
                                                style="height: 100px; width: 100px;">
                                            <img *ngIf="profile.profileImageId"
                                                src="http://localhost:8080/attachments/{{profile.profileImageId}}"
                                                class="rounded-circle" style="height: 100px; width: 100px;" id="photo">
                                            <app-label classLabel="mt-2" nameLabel="Change Photo" forLabel="photo">
                                            </app-label>
                                        </div>

                                        <div>
                                            <form>
                                                <form-input forLabel="name" classLabel="" nameLabel="Full Name"
                                                    [requiredLabel]="false" classInput="form-control" minInput="1"
                                                    maxInput="100" typeInput="text" placeholderInput="Full Name"
                                                    [(ngModelInput)]="updateProfile.profileName">
                                                </form-input>

                                                <form-input forLabel="email" classLabel="mt-2" nameLabel="Email"
                                                    [requiredLabel]="false" classInput="form-control" minInput="1"
                                                    maxInput="100" typeInput="email" placeholderInput="admin@email.com"
                                                    [disabledInput]="true" [(ngModelInput)]="profile.email">
                                                </form-input>

                                                <form-input forLabel="number" classLabel="mt-2" nameLabel="Phone Number"
                                                    [requiredLabel]="false" classInput="form-control" minInput="1"
                                                    maxInput="14" typeInput="tel" placeholderInput="081345678900"
                                                    [(ngModelInput)]="profile.profilePhone">
                                                </form-input>

                                                <div class="row">
                                                    <form-input forLabel="country" classLabel="mt-2" nameLabel="Country"
                                                        style="max-width: 50%;" [requiredLabel]="false"
                                                        classInput="form-control" minInput="1" maxInput="100"
                                                        typeInput="text" placeholderInput="Indonesia"
                                                        [disabledInput]="true">
                                                    </form-input>

                                                    <form-select forLabel="province" classLabel="mt-2"
                                                        nameLabel="Province" classSelect="form-select"
                                                        style="max-width: 50%;" [optionData]="provinces"
                                                        optionLabel="provinceName" optionValue="id"
                                                        [(ngModelSelect)]="profile.provinceId" [requiredLabel]="true"
                                                        (ngModelSelectChange)="provinceChange(profile.provinceId)">
                                                    </form-select>

                                                    <form-select forLabel="regency" classLabel="mt-2"
                                                        nameLabel="Regency" classSelect="form-select"
                                                        style="max-width: 50%;" [optionData]="regencies"
                                                        optionLabel="regancyName" optionValue="id"
                                                        [(ngModelSelect)]="updateProfile.regencyId">
                                                    </form-select>

                                                    <form-input forLabel="poscode" classLabel="mt-2"
                                                        nameLabel="Postal Code" [requiredLabel]="false"
                                                        classInput="form-control" minInput="1" maxInput="10"
                                                        style="max-width: 50%;" typeInput="text"
                                                        placeholderInput="17520" [(ngModelInput)]="profile.postalCode">
                                                    </form-input>
                                                </div>
                                            </form>
                                        </div>

                                        <div class="mt-5">
                                            <app-label forLabel="occupation" classLabel="fw-bold"
                                                nameLabel="Occupation"></app-label>
                                            <form>
                                                <div class="row">
                                                    <form-input forLabel="company" classLabel="mt-2" nameLabel="Company"
                                                        [requiredLabel]="false" classInput="form-control" minInput="1"
                                                        maxInput="100" typeInput="text"
                                                        placeholderInput="PT. Lawencon Internasional"
                                                        [(ngModelInput)]="updateProfile.profileCompany">
                                                    </form-input>

                                                    <form-select forLabel="industry" classLabel="mt-2"
                                                        nameLabel="Industry" classSelect="form-select"
                                                        style="max-width: 50%;" [optionData]="industries"
                                                        optionLabel="industryName" optionValue="id"
                                                        [(ngModelSelect)]="updateProfile.industryId">
                                                    </form-select>

                                                    <form-select forLabel="position" classLabel="mt-2"
                                                        nameLabel="Position" classSelect="form-select"
                                                        style="max-width: 50%;" [optionData]="positions"
                                                        optionLabel="positionName" optionValue="id"
                                                        [(ngModelSelect)]="updateProfile.positionId">
                                                    </form-select>
                                                </div>
                                            </form>
                                        </div>

                                        <div class="mt-5">
                                            <app-label forLabel="socmed" classLabel="fw-bold" nameLabel="Social Media">
                                            </app-label>
                                            <form>
                                                <div class="row">
                                                    {{profileSosmed | json}}
                                                    <div class="col-6" *ngFor="let socmed of profileSosmed">
                                                        <form-input forLabel="{{socmed.socialMediaName}}"
                                                            classLabel="mt-2" nameLabel="{{socmed.socialMediaName}}"
                                                            [requiredLabel]="false" classInput="form-control"
                                                            minInput="1" maxInput="100" typeInput="text"
                                                            placeholderInput="" [(ngModelInput)]="socmed.accountName">
                                                        </form-input>
                                                    </div>
                                                </div>
                                            </form>
                                        </div>

                                        <div class="mt-5 gap-3 d-flex justify-content-center">
                                            <app-button idBtn="save" labelBtn="Save" routerLink="" [requiredIcon]="true"
                                                iconType="pi-save" (clickBtnEvent)="onSave()">
                                            </app-button>
                                            <app-button classBtn="p-button-outlined p-button-secondary" idBtn="cancel"
                                                labelBtn="Cancel" routerLink="" [requiredIcon]="true"
                                                iconType="pi-times">
                                            </app-button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="tab-pane fade show" id="pills-security" role="tabpanel"
                    aria-labelledby="pills-security-tab">
                    <div class="container">
                        <div class="row">
                            <div class="col-12">
                                <div class="card">
                                    <div class="card-header">
                                        <app-label nameLabel="Change Password"></app-label>
                                    </div>
                                    <div class="card-body">
                                        <form class="p-4 row" #formChange="ngForm"
                                            (ngSubmit)="onSubmit(formChange.form.valid)">
                                            <div class="d-flex align-items-center mt-3">
                                                <h4> <i class="fa-solid fa-key me-3"></i> Change Password</h4>
                                            </div>

                                            <div class="d-flex justify-content-center">
                                                <img src="../../../assets/image/password.png"
                                                    style="height: 250px; width: 250px;">
                                            </div>

                                            <form-input forLabel="currentPage" nameLabel="Current Password"
                                                classLabel="mt-3" [requiredLabel]="true" typeInput="password"
                                                classInput="mb-3" maxInput="255" minInput="1"
                                                placeholderInput="enter your current password"
                                                [(ngModelInput)]="data.password">
                                            </form-input>

                                            <form-input forLabel="newPass" nameLabel="New Password" classLabel="mt-3"
                                                [requiredLabel]="true" typeInput="password" classInput="mb-3"
                                                maxInput="255" minInput="1" placeholderInput="enter your new password"
                                                [(ngModelInput)]="newPass">
                                            </form-input>

                                            <div class="mb-3">
                                                <form-input forLabel="confirmationNewPass"
                                                    nameLabel="Confirmation New Password" classLabel="mt-3"
                                                    [requiredLabel]="true" typeInput="password" maxInput="255"
                                                    minInput="1" placeholderInput="enter your confirmation new password"
                                                    [(ngModelInput)]="confirmationPass"
                                                    (ngModelInputChange)="changePassword()">
                                                </form-input>
                                                <small *ngIf="isFound == false" id="password-help"
                                                    class="p-error block">New Password And
                                                    Confirmation Must Be Same</small>
                                            </div>

                                            <app-button class="w-100" typeBtn="submit" labelBtn="SUBMIT" idBtn="login"
                                                classBtn="mt-3 w-100"
                                                [disbaledBtn]="formChange.form.invalid || newPass != confirmationPass">
                                            </app-button>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>