<div class="container d-flex justify-content-center align-items-center py-3" style="height: 50%; width: 90%;">
    <div class="card shadow">
        <div>
            <div class="col-md-12">
                <form class="p-4 row" #formChange="ngForm" (ngSubmit)="onSubmit(formChange.form.valid)">
                    <div class="d-flex align-items-center mt-3">
                        <h4> <i class="fa-solid fa-key me-3"></i> Change Password</h4>
                    </div>

                    <div class="d-flex justify-content-center">
                        <img src="../../../assets/image/password.png" style="height: 250px; width: 250px;">
                    </div>

                    <form-input forLabel="currentPage" nameLabel="Current Password" classLabel="mt-3"
                        [requiredLabel]="true" typeInput="password" classInput="mb-3" maxInput="255" minInput="1"
                        placeholderInput="enter your current password" [(ngModelInput)]="data.password">
                    </form-input>

                    <form-input forLabel="newPass" nameLabel="New Password" classLabel="mt-3" [requiredLabel]="true"
                        typeInput="password" classInput="mb-3" maxInput="255" minInput="1"
                        placeholderInput="enter your new password" [(ngModelInput)]="newPass">
                    </form-input>

                    <div class="mb-3">
                        <form-input forLabel="confirmationNewPass" nameLabel="Confirmation New Password"
                            classLabel="mt-3" [requiredLabel]="true" typeInput="password" maxInput="255" minInput="1"
                            placeholderInput="enter your confirmation new password" [(ngModelInput)]="confirmationPass"
                            (ngModelInputChange)="changePassword()">
                        </form-input>
                        <small *ngIf="isFound == false" id="password-help" class="p-error block">New Password And
                            Confirmation Must Be Same</small>
                    </div>

                    <app-button class="w-100" typeBtn="submit" labelBtn="SUBMIT" idBtn="login" classBtn="mt-3 w-100"
                        [disbaledBtn]="formChange.form.invalid || newPass != confirmationPass">
                    </app-button>
                </form>
            </div>
        </div>
    </div>
</div>