<div class="container d-flex justify-content-center align-items-center" style="height: 100vh; width: 60%;">
    <div class="card shadow">
        <div class="row" style="height: 90%;">
            <div class="col-md-6">
                <div class="card text-white h-100" style="background-color: #21325E;">
                    <img src="assets/image/background.jpg" class="card-img h-100 opacity-25" alt="Login Image">
                    <div class="card-img-overlay d-flex justify-content-center align-items-center text-center">
                        <h5 class="card-title opacity-100">Selamat Datang di LinovHR Community</h5>
                    </div>
                </div>
            </div>

            <div class="col-md-6">
                <form class="p-4" #formLogin="ngForm" (ngSubmit)="onLogin(formLogin.form.valid)">
                    <div class="d-flex align-items-center my-3">
                        <h4> <i class="fa-solid fa-arrow-right-to-bracket me-2"></i> Login Account</h4>
                    </div>

                    <form-input forLabel="email" nameLabel="Email" classLabel="" [requiredLabel]="true"
                        typeInput="email" classInput="mb-3" maxInput="100" minInput="1"
                        placeholderInput="enter your email address" [(ngModelInput)]="login.username">
                    </form-input>

                    <form-input forLabel="Password" nameLabel="Password" classLabel="" [requiredLabel]="true"
                        typeInput="password" classInput="mb-2" maxInput="255" minInput="5"
                        placeholderInput="enter your password" [(ngModelInput)]="login.password">
                    </form-input>

                    <a class="text-end mt-2 d-block" routerLink="member/forgot-password">Forgot Password</a>

                    <app-button class="w-100" typeBtn="submit" labelBtn="SIGN IN" idBtn="login" classBtn="mt-4 w-100"
                        [disbaledBtn]="formLogin.form.invalid" [loadingBtn]="this.isLoading">
                    </app-button>

                    <hr>

                    <div class="d-flex justify-content-center gap-1">
                        <app-label forLabel="noAccount" nameLabel="Don't have account?" classLabel=""></app-label>
                        <a routerLink="member/sign-up">Sign Up</a>
                    </div>

                    <app-label forLabel="otherSignIn" nameLabel="Or Sign In With"
                        classLabel="mt-4 d-flex justify-content-center"></app-label>

                    <div class="d-flex justify-content-center">
                        <form-button typeBtnPrimary="" idBtnPrimary="google"
                            classBtnPrimary="p-button-rounded p-button-outlined me-2 mt-1" [requiredIconPrimary]="true"
                            iconTypePrimary="pi-google" typeBtnSecondary="" idBtnSecondary="facebook"
                            classBtnSecondary="p-button-rounded p-button-outlined me-2" [requiredIconSecondary]="true"
                            iconTypeSecondary="pi-facebook">
                        </form-button>

                        <app-button typeBtn="" idBtn="twitter" classBtn="p-button-rounded p-button-outlined mt-1"
                            iconType="pi-twitter">
                        </app-button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>