<!-- Main Content -->
<div class="card">
    <!-- Table Content -->
    <p-table #dt [value]="data" [lazy]="true" (onLazyLoad)="loadData($event)" responsiveLayout="scroll"
            [paginator]="true" [rows]="maxPage" [totalRecords]="totalRecords" [loading]="loading"
            tyleClass="p-datatable-gridlines" [globalFilterFields]="['priceCode']" [rowHover]="true"
            currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries" [showCurrentPageReport]="true">

        <ng-template pTemplate="caption">
            <div class="d-flex align-items-center justify-content-between">
                <h5 class="m-0">Profile List</h5>
                <span class="p-input-icon-left">
                    <input pInputText type="text" (input)="dt.filterGlobal($event.target.value, 'contains')" placeholder="Search..." />
                </span>
            </div>
        </ng-template>

        <ng-template pTemplate="header">
            <tr>
                <th>Profile Name</th>
                <th>Email</th>
                <th>Company Name</th>
                <th>End of Subscription</th>
            </tr>
        </ng-template>

        <ng-template pTemplate="body" let-data>
            <tr>
                <td>{{data.profileName}}</td>
                <td>{{data.email}}</td>
                <td>{{data.profileCompany}}</td>
                <td>{{data.subscriptionDuration}}</td>
            </tr>
        </ng-template>

        <ng-template pTemplate="summary">
            <div class="flex align-items-center justify-content-between">
                In total there are {{data ? data.length : 0 }} Profile Subscription.
            </div>
        </ng-template>

    </p-table>
    <!-- End of Table Content -->

</div>
<!-- End Of Main Content -->

<!-- ConfimDialog -->
<p-confirmDialog [style]="{width: '450px'}"></p-confirmDialog>