<div class="container">
    <div class="card mt-1">
        <div class="card-header bg-transparent border-secondary my-2 ">
            <h4 class="text-center">Cart Event/Course List</h4>
            <app-label class="text-center" nameLabel="" classLabel="fs-4"></app-label>
        </div>
        <div class="card-body">
            <p-table [value]="data" [(selection)]="selectedEvent" dataKey="id" responsiveLayout="scroll">
                <ng-template pTemplate="header">
                    <th class="text-center"><p-tableHeaderCheckbox></p-tableHeaderCheckbox></th>
                    <th class="text-center">Event Title</th>
                    <th class="text-center">Event Date</th>
                    <th class="text-center">Event Time</th>
                    <th class="text-center">Event Price</th>
                </ng-template>
                <ng-template pTemplate="body" let-data>
                    <tr>
                        <td class="text-center"><p-tableCheckbox [value]="data"></p-tableCheckbox></td>
                        <td class="text-center">{{data.eventTitle}}</td>
                        <td class="text-center">{{data.eventDateStart}} until {{data.eventDateEnd}}</td>
                        <td class="text-center">{{data.eventTimeStart}} - {{data.eventTimeEnd}}</td>
                        <td class="text-center">{{data.eventPrice}}</td>
                    </tr>
                </ng-template>
            </p-table>
            <div class="d-flex justify-content-center">
                <app-button classBtn="p-button-warning mt-4 me-3" labelBtn="Check Out" (clickBtnEvent)="onSubmit()"
                    [requiredIcon]="true" iconType="pi-shopping-cart">
                </app-button>
                <app-button classBtn="p-button-outlined p-button-secondary mt-4" labelBtn="Cancel" routerLinkBtn="/member/course"
                    [requiredIcon]="true" iconType="pi-times">
                </app-button>
            </div>
        </div>
    </div>
</div>