<div class="container mb-5">
    <div class="row">
        <div class="col-sm-9">
            <div class="my-4 row">
                <div class="col-4 d-flex align-items-center gap-3">
                    <app-button 
                        classBtn="p-button-outlined" (clickBtnEvent)="onBack()"
                        [requiredIcon]="true" iconType="pi-arrow-left">
                    </app-button>

                    <div>
                        <i class="fa-solid fa-comment me-2"></i>
                        <span class="fs-5 fw-bold" style="color: #323232;">New Thread</span>
                    </div>
                </div>
            </div>

            <div class="card">
                <div class="card-body">
                    <app-label 
                        forLabel="" classLabel="fw-bold" nameLabel="Create Thread">
                    </app-label>
                    {{thread | json}}

                    <form #formThread="ngForm" (ngSubmit)="onSave()">
                        <div class="d-flex flex-column mt-3">
                            <app-label forLabel="premium" nameLabel="Thread Premium"></app-label>
                            <p-inputSwitch [(ngModel)]="thread.isPremium" name="premium" id="premium"></p-inputSwitch>
                        </div>

                        <form-textarea
                            classLabel="form-label mt-3" forLabel="title" nameLabel="Title"
                            classInput="form-control" typeInput="text" placeholderTextarea="Enter your thread title here"
                            [(ngModelTextarea)]="thread.threadTitle" [requiredLabel]="true">
                        </form-textarea>

                        <form-textarea
                            classLabel="form-label mt-3" forLabel="content" nameLabel="Content"
                            classInput="form-control" typeInput="text" placeholderTextarea="Enter your thread content here"
                            [(ngModelTextarea)]="thread.threadContent" [requiredLabel]="true">
                        </form-textarea>

                        <div class="row mt-3">
                            <div class="d-flex flex-column col-6" *ngIf="writeType != 'article'">
                                <app-label forLabel="" classLabel="" nameLabel="Category"></app-label>
                                <p-multiSelect name="category"
                                    [options]="threadCategories" [(ngModel)]="selectedCategory"
                                    defaultLabel="Select Category" optionLabel="categoryName"
                                    selectedItemsLabel="{0} items selected" [required]="true">
                                </p-multiSelect>
                            </div>

                            <div class="d-flex flex-column col-6">
                                <form-select 
                                    forLabel="type" nameLabel="Thread Type" [requiredLabel]="true" 
                                    [optionData]="threadTypes" optionLabel="typeName" optionValue="id"
                                    [(ngModelSelect)]="selectedType.id" (ngModelSelectChange)="onThreadTypeChange($event)">
                                </form-select>
                            </div>
                        </div>

                        <div *ngIf="selectedType.typeCode == 'TY01'" class="row mt-3">
                            <form-input
                                forLabel="polling" nameLabel="Polling Name"
                                placeholderInput="insert your polling name" minInput="1" maxInput="100"
                                typeInput="text" [(ngModelInput)]="thread.pollingName">
                            </form-input>

                            <app-label forLabel="addChoice" classLabel="mt-3" nameLabel="Choice"></app-label>
                            
                            <div class="row d-flex flex-row">
                                <app-input class="col-10"
                                    classInput="" idInput="choice" minInput="1" maxInput="100"
                                    placeholderInput="input your choice" typeInput="text"
                                    [(ngModelInput)]="choice">
                                </app-input>

                                <app-button class="col-2 text-end" style="padding-right: 0px;"
                                    classBtn="text-end" idBtn="addChoice" labelBtn="Add"
                                    [requiredIcon]="true" iconType="pi-plus" (clickBtnEvent)="addChoice()">
                                </app-button>
                            </div>

                            <p-table [value]="choices" responsiveLayout="scroll">
                                <ng-template pTemplate="header">
                                    <tr>
                                        <th>Choice Name</th>
                                        <th>Action</th>
                                    </tr>
                                </ng-template>
                                <ng-template pTemplate="body" let-choice>
                                    <tr>
                                        <td>{{choice}}</td>
                                        <td>
                                            <app-button
                                                classBtn="p-button-danger" [requiredIcon]="true" iconType="pi-trash"
                                                (clickBtnEvent)="deleteChoice(choice)">
                                            </app-button>
                                        </td>
                                    </tr>
                                </ng-template>
                            </p-table>
                        </div>

                        <div class="d-flex justify-content-end align-items-center text-end gap-3 mt-3">
                            <app-label *ngFor="let file of uploadedFiles" forLabel="upload" nameLabel="{{file.name}}, "></app-label>
                            <p-fileUpload
                                mode="basic" (onSelect)="onBasicUpload($event)" [previewWidth]="10" pTooltip="Browse File" tooltipPosition="left"
                                chooseIcon="pi pi-file" [multiple]="true" [files]="uploadedFiles" accept="image/*">
                            </p-fileUpload>

                            <app-button
                                classBtn="" typeBtn="submit" idBtn="save" labelBtn="Save" [loadingBtn]="this.isLoading"
                                [requiredIcon]="true" iconType="pi-save" [disbaledBtn]="!validateSubmit()" >
                            </app-button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="my-4">
                <i class="fa-solid fa-link me-2"></i>
                <span class="fs-5 fw-bold" style="color: #323232;">Features</span>
            </div>
        </div>
    </div>
</div>