<div class="container my-5">
    <div class="row">
        <div class="col-sm-9">
            <div class="my-4 row">
                <div class="col-4">
                    <i class="fa-solid fa-comment me-4"></i>
                    <span class="fs-5 fw-bold" style="color: #323232;">New Thread</span>
                </div>
            </div>

            <div class="card">
                <div class="card-body">
                    <app-label 
                        forLabel="" classLabel="fw-bold" nameLabel="Create Thread">
                    </app-label>

                    <form>
                        <form-textarea
                            classLabel="form-label mt-3" forLabel="title" nameLabel="Title"
                            classInput="form-control" typeInput="text" placeholderTextarea="Enter your thread title here">
                        </form-textarea>

                        <form-textarea
                            classLabel="form-label mt-3" forLabel="title" nameLabel="Content"
                            classInput="form-control" typeInput="text" placeholderTextarea="Enter your thread content here">
                        </form-textarea>

                        <div class="row mt-3">
                            <form-select
                                classLabel="form-label" forLabel="" nameLabel="Category" style="max-width: 50%;">
                            </form-select>

                            <form-select
                                classLabel="form-label" forLabel="" nameLabel="Thread Type" style="max-width: 50%;">
                            </form-select>
                        </div>

                        <div class="d-flex justify-content-end align-items-center text-end gap-3 mt-3">
                            <p-fileUpload 
                                mode="basic" name="demo[]" (onUpload)="onBasicUpload($event)" 
                                chooseIcon="pi pi-image">
                            </p-fileUpload>

                            <p-fileUpload 
                                mode="basic" name="demo[]" (onUpload)="onBasicUpload($event)" 
                                chooseIcon="pi pi-file">
                            </p-fileUpload>

                            <app-button
                                classBtn="" typeBtn="submit" idBtn="save" labelBtn="Save"
                                [requiredIcon]="true" iconType="pi-save">
                            </app-button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="my-4">
                <i class="fa-solid fa-link me-3"></i>
                <span class="fs-5 fw-bold" style="color: #323232;">Features</span>
            </div>
        </div>
    </div>
</div>