<!-- Main Content -->
<div class="card">
    <p-table #dt [value]="data" [lazy]="true" (onLazyLoad)="loadData($event)" responsiveLayout="scroll"
        [paginator]="true" [rows]="maxPage" [totalRecords]="totalRecords" [loading]="loading"
        tyleClass="p-datatable-gridlines" [globalFilterFields]="['eventTitle']" [rowHover]="true"
        currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries" [showCurrentPageReport]="true">

        <ng-template pTemplate="caption">
            <div class="d-flex align-items-center justify-content-between">
                <h5 class="m-0">Event List</h5>
                <span class="p-input-icon-left">
                    <input pInputText type="text" (input)="dt.filterGlobal($event.target.value, 'contains')"
                        placeholder="Search..." />
                </span>
            </div>
        </ng-template>

        <ng-template pTemplate="header">
            <tr>
                <th>Event Title</th>
                <th>Event Provider</th>
                <th>Event Date</th>
                <th>Event Time</th>
                <th>Type Event</th>
                <th>Event Price</th>
                <th class="text-center">Payment Attachment</th>
                <th class="text-center">Action</th>
            </tr>
        </ng-template>

        <ng-template pTemplate="body" let-data>
            <tr>
                <td>{{data.eventTitle}}</td>
                <td>{{data.eventProvider}}</td>
                <td>{{data.eventDateStart}} until {{data.eventDateEnd}}</td>
                <td>{{data.eventTimeStart}} - {{data.eventTimeEnd}}</td>
                <td>{{data.typeName}}</td>
                <td>{{data.eventPrice}}</td>
                <td *ngIf="data.paymentAttachment">
                    <img src="http://localhost:8080/attachments/{{data.paymentAttachment}}" alt="Payment Image" height="60px" width="60px">
                </td>
                <td *ngIf="!data.paymentAttachment" class="text-center">-</td>
                <td class="text-center">
                    <button *ngIf="data.isApprove == false" pButton pRipple class="p-button-success me-3" id="approve" label="Approving"
                            icon="pi pi-check-circle" (click)="onApprove(data.id)" [loading]="isLoading">
                    </button>
                    <button pButton pRipple class="p-button-info me-3" id="participant" label="Participant"
                        icon="pi pi-list" (click)="onSubmit(data.id)">
                    </button>
                    <a pButton pRipple class="p-button-help" id="report" label="Report"
                        icon="pi pi-print" href="http://localhost:8080/events/report/income_report/{{data.id}}">
                    </a>
                </td>
            </tr>
        </ng-template>

        <ng-template pTemplate="summary">
            <div class="flex align-items-center justify-content-between">
                In total there are {{data ? data.length : 0 }} Events.
            </div>
        </ng-template>

    </p-table>
    <!-- End of Table Content -->

</div>
<!-- End Of Main Content -->

<!-- ConfimDialog -->
<p-confirmDialog [style]="{width: '450px'}"></p-confirmDialog>