<div class="container">
    <div class="panel panel-default">
        <div class="panel-heading">
            <form class="form-inline">
                <div class="form-group mb-3">
                    <button class="btn btn-primary" routerLink="/admin/social-media/new" type="button">New Social
                        Media</button>
                    <!-- <app-button classBtn="btn-primary" (clickBtn)="create()" labelBtn="New Role"></app-button> -->
                </div>
            </form>
        </div>

        <!-- Table Content -->
        <p-table #dt1 [value]="data" [lazy]="true" (onLazyLoad)="loadData($event)" responsiveLayout="scroll"
            [paginator]="true" [rows]="maxPage" [totalRecords]="totalRecords" [loading]="loading"
            [rowsPerPageOptions]="[10,25,50]" tyleClass="p-datatable-gridlines" [globalFilterFields]="['code', 'name']">

            <ng-template pTemplate="caption">
                <div class="flex">
                    <span class="p-input-icon-left ml-auto">
                        <i class="pi pi-search"></i>
                        <input pInputText type="text" (input)="dt1.filterGlobal($event.target.value, 'contains')"
                            placeholder="Search keyword" />
                    </span>
                </div>
            </ng-template>

            <ng-template pTemplate="header">
                <tr>
                    <th>Social Media Code</th>
                    <th>Social Media Name</th>
                    <th class="text-center">Action</th>
                </tr>
            </ng-template>

            <ng-template pTemplate="body" let-data>
                <tr>
                    <td>{{data.categoryCode}}</td>
                    <td>{{data.categoryName}}</td>
                    <td class="text-center">
                        <app-button idBtn="update" classBtn="p-button-warning me-2" iconType="pi-undo"
                            (clickBtnEvent)="update(data.id)">
                        </app-button>
                        <button pButton pRipple class="p-button-danger" id="delete-btn" data-bs-toggle="modal"
                            data-bs-target="#delete" (click)="deleteById(data.id)" icon="pi pi-trash">
                        </button>
                    </td>
                </tr>
            </ng-template>
        </p-table>
        <!-- End of Table Content -->

    </div>
</div>
<hr>
<!-- Modal -->
<div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="deleteModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="deleteModalLabel">Confirm to Delete</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                Are you sure to delete?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-danger">Just
                    Delete</button>
            </div>
        </div>
    </div>
</div>