<div class="container d-flex justify-content-center align-items-center py-3" style="height: 100vh; width: 60%;">
    <div class="card shadow">
        <div class="row">
            <div class="col-md-6">
                <div class="card text-white h-100" style="background-color: #21325E;">
                    <img src="assets/image/background.jpg" class="card-img d-none d-sm-block h-100 opacity-25"
                        alt="Login Image">
                    <div class="card-img-overlay d-flex justify-content-center align-items-center text-center">
                        <h5 class="card-title opacity-100">Selamat Datang di LinovHR Community</h5>
                    </div>
                </div>
            </div>

            <div class="col-md-6">
                <form class="p-4" #formForgot="ngForm" (ngSubmit)="onSubmit(formForgot.form.valid)">
                    <div class="d-flex align-items-center mt-3">
                        <h4> <i class="fa-solid fa-key me-3"></i> Forgot Password</h4>
                    </div>

                    <div class="d-flex justify-content-center">
                        <img src="../../../assets/image/password.png" style="height: 250px; width: 250px;">
                    </div>

                    <div>
                        <form-input forLabel="email" nameLabel="Your Email" [requiredLabel]="true"
                            typeInput="email" classInput="ng-invalid ng-dirty" maxInput="100" minInput="1" placeholderInput="your email"
                            [(ngModelInput)]="data.email" (ngModelInputChange)="changeEmail()">
                        </form-input>
                        <small *ngIf="isFound == false" id="email-help" class="p-error block">Email is Not Found</small>
                    </div>

                    <form-input forLabel="newPass" nameLabel="New Password" classLabel="mt-3" [requiredLabel]="true"
                        typeInput="password" classInput="mb-3" maxInput="255" minInput="1" placeholderInput="enter your new password"
                        [(ngModelInput)]="data.password" >
                    </form-input>

                    <app-button
                        class="w-100" typeBtn="submit" labelBtn="SUBMIT" idBtn="login" classBtn="mt-3 w-100"
                        [disbaledBtn]="formForgot.form.invalid" [loadingBtn]="this.isLoading">
                    </app-button>
                </form>
            </div>
        </div>
    </div>
</div>