<div class="container">
    <div class="card o-hidden border-0 shadow-lg my-5">
        <div class="card-body p-0">
            <!-- Nested Row within Card Body -->
            <div class="row">
                <div class="col-lg">
                    <div class="p-5">
                        <div class="text-center">
                            <h1 class="h3 mb-4 text-gray-800">Form Update Profile</h1>
                        </div>
                        <form class="row g-2">
                            <div class="form-group mb-3 col-12 col-sm-6">
                                <label class="form-label">Profile Name <span class="text-danger">*</span></label>
                                <input class="form-control" type="text" name="profile" placeholder="Enter profile..." />
                            </div>
                            <div class="form-group mb-3 col-12 col-sm-6">
                                <label class="form-label">Company Name <span class="text-danger">*</span></label>
                                <!-- <input class="form-control" type="text" name="kode" /> -->
                                <select class="form-control">
                                    <option selected disabled value="">Select Company</option>
                                    <option value="1">PT. Linov</option>
                                    <option value="2">DLL</option>
                                </select>
                            </div>
                            <div class="form-group mb-3 col-12 col-sm-6">
                                <label class="form-label">Industry Name <span class="text-danger">*</span></label>
                                <!-- <input class="form-control" type="text" name="kode" /> -->
                                <select class="form-control">
                                    <option selected disabled value="">Select Industry</option>
                                    <option value="1">Komputer / Teknologi Informasi</option>
                                    <option value="2">DLL</option>
                                </select>
                            </div>
                            <div class="form-group mb-3 col-12 col-sm-6">
                                <label class="form-label">Position Name <span class="text-danger">*</span></label>
                                <!-- <input class="form-control" type="text" name="kode" /> -->
                                <select class="form-control">
                                    <option selected disabled value="">Select Position</option>
                                    <option value="1">Wiraswasta</option>
                                    <option value="2">DLL</option>
                                </select>
                            </div>
                            <div class="form-group mb-3 col-12 col-sm-6">
                                <label class="form-label">Regency Name <span class="text-danger">*</span></label>
                                <!-- <input class="form-control" type="text" name="kode" /> -->
                                <select class="form-control">
                                    <option selected disabled value="">Select Regency</option>
                                    <option value="1">Jakarta Selatan</option>
                                    <option value="2">DLL</option>
                                </select>
                            </div>
                            <div class="form-group mb-3 col-12 col-sm-6">

                            </div>
                            <div class="form-group mb-3 col-12 col-sm-6 text-end">
                                <button class="btn btn-primary col-12 col-sm-6 me-3" routerLink="/profile/list"><span
                                        class="glyphicon glyphicon-save"></span>
                                    Simpan</button>
                                <a class="btn btn-danger col-12 col-sm-6" routerLink="/profile/list"><span
                                        class="glyphicon glyphicon-arrow-left"></span>
                                    Kembali</a>

                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>