<div class="container">
    <div class="card o-hidden border-0 shadow-lg my-5">
        <div class="card-body p-0">
            <!-- Nested Row within Card Body -->
            <div class="row">
                <div class="col-lg">
                    <div class="p-5">
                        <div class="text-center">
                            <h1 class="h3 mb-4 text-gray-800">Form Update Regency</h1>
                        </div>
                        <form #formUpdate="ngForm" class="row" (ngSubmit)="onSubmit(formUpdate.form.valid)">
                            <form-input class="col-12 col-sm-6 mb-3"
                                        forLabel="regency-name" classLabel="h5" nameLabel="Regency Name" [requiredLabel]="true"
                                        typeInput="text" placeholderInput="Enter Regency Name"
                                        minInput="5" maxInput="100" [(ngModelInput)]="data.regencyName">
                            </form-input>
                            <form-button    divClass="d-flex"
                                            classBtnPrimary="p-button-secondary me-3" labelBtnPrimary="Back"
                                            idBtnPrimary="back" routerLinkBtnPrimary="/admin/regency/list"
                                            classBtnSecondary="p-button-success" labelBtnSecondary="Submit"
                                            idBtnSecondary="input" typeBtnSecondary="submit"
                                            [disbaledBtnSecondary]="formUpdate.form.invalid">
                            </form-button>
                        </form>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>