<div class="container">
    <div class="card o-hidden border-0 shadow-lg my-5">
        <div class="card-body p-0">
            <!-- Nested Row within Card Body -->
            <div class="row">
                <div class="col-lg">
                    <div class="p-5">
                        <div class="text-center">
                            <h1 class="h3 mb-4 text-gray-800">Form Add User</h1>
                        </div>
                        <form #formInput="ngForm" class="row" (ngSubmit)="onSubmit(formInput.form.valid)">
                            <form-input class="col-12 col-sm-6 mb-3"
                                        forLabel="email" classLabel="h5" nameLabel="Email" [requiredLabel]="true"
                                        typeInput="email" placeholderInput="Enter Email Address" [(ngModelInput)]="data.username">
                            </form-input>
                            <form-input class="col-12 col-sm-6 mb-3"
                                        forLabel="passowrd" classLabel="h5" nameLabel="Password" [requiredLabel]="true"
                                        typeInput="passowrd" placeholderInput="Enter Password"
                                        minInput="5" maxInput="225" [(ngModelInput)]="data.password">
                            </form-input>
                            <form-select    class="col-12 col-sm-6 mb-3"
                                            forLabel="role" nameLabel="Role" classLabel="h5" [requiredLabel]="true"
                                            [optionData]="roleData" optionValue="roleCode" optionLabel="roleName"
                                            [(ngModelSelect)]="data.roleCode">
                            </form-select>
                            <form-button class="d-flex mt-3" classBtnPrimary="p-button-secondary me-3"
                                labelBtnPrimary="Back" idBtnPrimary="back" routerLinkBtnPrimary="/admin/user/list"
                                classBtnSecondary="p-button-success" labelBtnSecondary="Submit" idBtnSecondary="input"
                                typeBtnSecondary="submit" [disbaledBtnSecondary]="formInput.form.invalid">
                            </form-button>
                        </form>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>