<!-- Main Content -->
<div class="card">
    <p-toolbar styleClass="mb-4">
        <ng-template pTemplate="left">
        </ng-template>

        <ng-template pTemplate="right">
            <app-button classBtn="p-button-success me-2"  typeBtn="submit"
                        labelBtn="Add" idBtn="add" iconType="pi-plus" routerLinkBtn="/admin/role/new">
            </app-button>
        </ng-template>
    </p-toolbar>

    <!-- Table Content -->
    <p-table #dt [value]="data" [lazy]="true" (onLazyLoad)="loadData($event)" responsiveLayout="scroll"
            [paginator]="true" [rows]="maxPage" [totalRecords]="totalRecords" [loading]="loading"
            tyleClass="p-datatable-gridlines" [globalFilterFields]="['roleCode', 'roleName']" [rowHover]="true"
            currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries" [showCurrentPageReport]="true">

        <ng-template pTemplate="caption">
            <div class="d-flex align-items-center justify-content-between">
                <h5 class="m-0">Category List</h5>
                <span class="p-input-icon-left">
                    <input pInputText type="text" (input)="dt.filterGlobal($event.target.value, 'contains')" placeholder="Search..." />
                </span>
            </div>
        </ng-template>

        <ng-template pTemplate="header">
            <tr>
                <th>Role Code</th>
                <th>Role Name</th>
                <th class="text-center">Action</th>
            </tr>
        </ng-template>

        <ng-template pTemplate="body" let-data>
            <tr>
                <td>{{data.roleCode}}</td>
                <td>{{data.roleName}}</td>
                <td class="text-center">
                    <app-button idBtn="update" classBtn="p-button-warning me-2" iconType="pi-undo" (clickBtnEvent)="update(data.id)">
                    </app-button>
                    <button pButton pRipple class="p-button-danger" id="delete-btn" icon="pi pi-trash" (click)="deleteById(data.id)">
                    </button>
                </td>
            </tr>
        </ng-template>

        <ng-template pTemplate="summary">
            <div class="flex align-items-center justify-content-between">
                In total there are {{data ? data.length : 0 }} Categorys.
            </div>
        </ng-template>

    </p-table>
    <!-- End of Table Content -->

</div>
<!-- End Of Main Content -->

<!-- ConfimDialog -->
<p-confirmDialog [style]="{width: '450px'}"></p-confirmDialog>