<div class="container">
    <div class="card o-hidden border-0 shadow-lg my-5">
        <div class="card-body p-0">
            <!-- Nested Row within Card Body -->
            <div class="row">
                <div class="col-lg">
                    <div class="p-5">
                        <div class="text-center">
                            <h1 class="h3 mb-4 text-gray-800">Form Add Event Type</h1>
                        </div>
                        <form #formInput="ngForm" class="row" (ngSubmit)="onSubmit(formInput.form.valid)">
                            <form-input class="col-12 col-sm-6 mb-3"
                                        forLabel="event-type-code" classLabel="h5" nameLabel="Event Type Code" [requiredLabel]="true"
                                        typeInput="text" placeholderInput="Enter Event Type Code"
                                        minInput="3" maxInput="5" [(ngModelInput)]="data.typeCode">
                            </form-input>
                            <form-input class="col-12 col-sm-6 mb-3"
                                        forLabel="event-type-name" classLabel="h5" nameLabel="Event Type Name" [requiredLabel]="true"
                                        typeInput="text" placeholderInput="Enter Event Type Name"
                                        minInput="5" maxInput="100" [(ngModelInput)]="data.typeName">
                            </form-input>
                            <form-button class="d-flex mt-3" classBtnPrimary="p-button-secondary me-3"
                                labelBtnPrimary="Back" idBtnPrimary="back" routerLinkBtnPrimary="/admin/event-type/list"
                                classBtnSecondary="p-button-success" labelBtnSecondary="Submit" idBtnSecondary="input"
                                typeBtnSecondary="submit" [disbaledBtnSecondary]="formInput.form.invalid" [loadingBtnSecondary]="isLoading">
                            </form-button>
                        </form>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>